{{> head}}

<body>
  {{> navbar}}
  <section class="main">
    <div class="container">
      <div class="row">
         {{{body}}}
      </div>
    </div>
  </section>
 
  {{> bsscripts}}
</body>
</html>