
<div class="col-12">
  <div class="d-flex  justify-content-center">
    <form action='/create' method='post' class="a">
      <h2 class="mt-4">Create an action</h2>
        <label class="mb-4">Whay do you need?</label>
        <div class="w-100"></div>
          <input type='text' name='title' class="mb-4"> 
        <div class="w-100"></div>
        <button type="submit" class="btn btn-outline-light">Добавить</button>
    </form>
  </div>
</div>